.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 0rem;
  background-color: rgb(37, 37, 39);
}
#contactInfo {
  display: none;
}
@media (min-width: 768px) {
  #contactInfo {
    display: block;
    display: flex;
  }
}
.contact__container {
  max-width: 550px;
  width: 95%;
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
}
.contact__h1 {
  color: white;
  padding-left: 1rem;
}
.contact__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.contact__info > label {
  color: white;
}
.contact__info > input {
  min-width: 22rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 0.5rem;
  color: gray;
  font-size: 1.1rem;
  font-weight: normal;
  outline: none;
}
.contact__info > textarea {
  width: 22rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 0.5rem;
  color: gray;
  font-size: 1.1rem;
  font-weight: normal;
  outline: none;
}
.contact__info > button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: rgb(23, 194, 180);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.contact__info > button:hover {
  transition: all 0.2s;
  background-color: rgb(59, 228, 214);
}
.contact__containerinfo {
  display: flex;
  flex-direction: column;
}
.contact__title {
  margin-bottom: 2rem;
}
.contact__title > h1 {
  color: white;
  margin-bottom: 2rem;
}
.contact__info2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem;
}
.contact__info2 > h3 {
  color: white;
}
.contac__h4 {
  color: white;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contact__adress {
  margin-left: 1rem;
}
.contact__adress > p {
  color: white;
}
.contact__divenviando {
  padding: 1.2rem;
  display: flex;
  justify-content: center;
}
.contact__enviando {
  background-color: rgb(76, 150, 215);
  color: white;
  padding: 1rem 5rem;
  border-radius: 4px;
  font-size: 1.1rem;
}
