.header {
  /* background-color: rgb(58, 59, 63); */
  background-color: rgb(237, 238, 248);
  position: sticky;
  top: 0%;
  z-index: 999;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
.headeridtrans {
  transition: ease-in-out 0.4s;
  background-color: rgb(37, 37, 39);
  border-bottom: 1px solid rgb(121, 121, 121);
}
.header__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header__container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo {
  display: none;
}
@media (min-width: 768px) {
  .header__logo {
    display: block;
  }
  .header__logo > img {
    height: 5rem;
    object-fit: contain;
    cursor: pointer;
  }
}
.header__navbar {
  display: flex;
}
.header__navbar > p {
  padding-left: 1.2rem;
}
.header__input {
  display: none;
}
@media (min-width: 768px) {
  .header__input {
    position: relative;
    display: block;
  }
}
.header__input > input {
  min-width: 10rem;
  width: 95%;
  padding: 0.4rem;
  border: none;
  color: gray;
  outline: none;
  border-radius: 4px;
}
.header__input > .MuiSvgIcon-root {
  position: absolute;
  left: 9rem;
  top: 0.1rem;
  color: gray;
  cursor: pointer;
}
.header__input > .MuiSvgIcon-root:hover {
  transition: all 0.2s;
  color: rgb(73, 73, 73);
}
